aiobotocore==2.24.2
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioitertools==0.12.0
aiosignal==1.4.0
asgiref==3.9.2
async-timeout==5.0.1
attrs==25.3.0
botocore==1.40.18
bounded-pool-executor==0.0.3
certifi==2025.8.3
charset-normalizer==3.4.3
DateTime==5.5
Django==5.2.7
earthaccess==0.14.0
frozenlist==1.7.0
fsspec==2025.9.0
idna==3.10
importlib_resources==6.5.2
jmespath==1.0.1
joblib==1.5.2
multidict==6.6.4
multimethod==2.0
numpy==2.2.6
packaging==25.0
pandas==2.3.3
pqdm==0.2.0
propcache==0.4.0
python-cmr==0.13.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
s3fs==2025.9.0
scikit-learn==1.7.2
scipy==1.15.3
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
tinynetrc==1.3.1
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
wrapt==1.17.3
xarray==2025.6.1
yarl==1.20.1
zope.interface==8.0.1
